{% extends 'base.html.twig' %}

{% block title %}Accueil
	{{ parent() }}
{% endblock %}
{% block body %}
	{% for figure in figures %}
		<h2>{{ figure.name }}</h2>
		<!-- Bouton qui déclenchera la modale -->
		<button type="button" id="btnModale{{ loop.index }}" class="btn btn-primary" data-toggle="modal" data-target="#maModale{{ loop.index }}" aria-label="Consulter {{ figure.name }}">
			Consulter.
		</button>
		<!-- Modale -->
		<div class="modal fade" id="maModale{{ loop.index }}" tabindex="-1" role="dialog" aria-labelledby="maModaleLabel{{ loop.index }}" aria-hidden="true">
			<div class="modal-dialog modal-dialog-scrollable" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
							<span aria-hidden="true">&times;</span>
						</button>
						<h5 class="modal-title" id="maModaleLabel{{ loop.index }}">{{ figure.name }}</h5>
						{% if app.user %}
							<div class="text-center my-5">
								{{ include('figure/_delete_form.html.twig') }}
								<a href="{{ path('app_figure_edit', {'id': figure.id}) }}" class="btn btn-primary btn-sm">
									<i class="fas fa-edit"></i>éditer</a>
							</div>
						{% endif %}
					</div>
					<div class="modal-body">
						<div class="border p-3">
							<h2 class="font-weight-bold">Description</h2>
							<p>{{ figure.description }}</p>
						</div>
						<div class="border p-3">
							<h2 class="font-weight-bold">Groupe</h2>
							<p>{{ figure.groupe.name }}</p>
						</div>
						<div class="border p-3">
							<h2 class="font-weight-bold">Créé le</h2>
							<p>{{ figure.createdAt|date("d/m/Y") }}</p>
						</div>
						<div class="border p-3">
							<h2 class="font-weight-bold">Dernière modification</h2>
							<p>{{ figure.modifiedAt|date("d/m/Y") }}</p>
						</div>
						<h2 class="font-weight-bold">Commentaires</h2>
						<div class="container">
							<div class="row">
								<div class="col-md-9">
									<div id="comments-container">
										{% for comment in figure.comments|reverse %}
											<div class="comment" data-id="{{ comment.id }}">
<h5 class="mt-0">{{ comment.author.name }} 
  <img src="avatars/{{ comment.author.avatar }}" alt="Avatar de l'utilisateur" class="img-fluid rounded-circle" style="width: 50px; height: 50px;">
</h5>
												{{ comment.content }}
												(Le
												{{ comment.createdAt|date('d/m/Y H:i:s') }})
											</div>
										{% endfor %}
									</div>
									<div class="pagination-container">
										<nav id="pagination">
											<ul class="pagination">
												<li class="page-item">
													<a class="page-link" href="#" id="prev-page">Précédent</a>
												</li>
												<li class="page-item"></li>
                                        <a class="page-link" href="#" id="next-page">Suivant</a>
                                    </li>
                                </ul>
                                </nav>
                                </div>
                                </div>
											{% if app.user %}
												<div class="col-md-3">
													<form id="form-{{ figure.id }}" action="{{ url('app_comments_new', {'figure': figure.id}) }}" method="post" class="ml-auto">
														{{ form_widget(forms[figure.id]) }}
														<button type="submit">Envoyer</button>
													</form>
												</div>
											{% endif %}
										</div>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
				<nav aria-label="Page">
					<ul class="pagination">
						{% for page in 1..total_pages %}
							<li class="page-item{% if page == current_page %} active{% endif %}">
								<a class="page-link" href="{{ path('app_home', {'page': page}) }}">{{ page }}</a>
							</li>
						{% endfor %}
					</ul>
				</nav>
	<script src="{{ asset('js/pagination.js') }}"></script>
<script>
    var comments = document.querySelectorAll('.comment');
    var commentsPerPage = 6; 
    var totalPages = Math.ceil(comments.length / commentsPerPage);
    var currentPage = 1;
    showPage(comments, currentPage, commentsPerPage);
    document.getElementById("prev-page").addEventListener("click", function(){
        if(currentPage > 1){
            currentPage--;
            showPage(comments, currentPage, commentsPerPage);
        }
    });
    document.getElementById("next-page").addEventListener("click", function(){
        if(currentPage < totalPages){
            currentPage++;
            showPage(comments, currentPage, commentsPerPage);
        }
    });
    function showPage(comments, currentPage, commentsPerPage){
        for (var i = 0; i < comments.length; i++) {
            comments[i].style.display = "none";
        }
        var start = (currentPage-1) * commentsPerPage;
        var end = start + commentsPerPage;
        for (var i = start; i < end; i++) {
            if(comments[i])
                comments[i].style.display = "block";
        }
    }
</script>
{% endblock %}
