{% extends 'base.html.twig' %}

{% block title %}Accueil
{{ parent() }}
{% endblock %}
{% block body %}
{% for figure in figures %}
  <h2>{{ figure.name }}</h2>
  <!-- Bouton qui déclenchera la modale -->
  <button type="button" id="btnModale{{ loop.index }}" class="btn btn-primary" data-toggle="modal" data-target="#maModale{{ loop.index }}" aria-label="Consulter {{ figure.name }}">
    Consulter.
  </button>
  <!-- Modale -->
  <div class="modal fade" id="maModale{{ loop.index }}" tabindex="-1" role="dialog" aria-labelledby="maModaleLabel{{ loop.index }}" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="maModaleLabel{{ loop.index }}">{{ figure.name }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="border p-3">
            <h2 class="font-weight-bold">Description</h2>
            <p>{{ figure.description }}</p>
          </div>
          <div class="border p-3">
            <h2 class="font-weight-bold">Groupe</h2>
            <p>{{ figure.groupe.name }}</p>
          </div>
          <div class="border p-3">
            <h2 class="font-weight-bold">Créé le</h2>
            <p>{{ figure.createdAt|date("d/m/Y") }}</p>
          </div>
          <div class="border p-3">
            <h2 class="font-weight-bold">Dernière modification</h2>          
<p>{{ figure.modifiedAt|date("d/m/Y") }}</p>
          </div>
          <h2 class="font-weight-bold">Commentaires</h2>
          {% for comment in figure.comments %}
            {{ comment.content }}
          {% endfor %}        
                              
                                        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
<nav aria-label="Page">
  <ul class="pagination">
    {% for page in 1..total_pages %}
      <li class="page-item{% if page == current_page %} active{% endif %}">
        <a class="page-link" href="{{ path('app_home', {'page': page}) }}">{{ page }}</a>
      </li>
    {% endfor %}
  </ul>
</nav>
{% endblock %}