{% extends 'base.html.twig' %}

{% block title %}Accueil
{{ parent() }}
{% endblock %}

{% block body %}
{% for figure in figures %}
<h2>{{ figure.name }}</h2>
<a href="{{ path('app_figure_show', {'id': figure.id}) }}" class="btn btn-primary btn-sm"><i class="fas fa-eye"></i>Consulter</a>
{% endfor %}
<nav aria-label="Page navigation example">
  <ul class="pagination">
    {% for page in 1..total_pages %}
      <li class="page-item{% if page == current_page %} active{% endif %}">
        <a class="page-link" href="{{ path('app_home', {'page': page}) }}">{{ page }}</a>
      </li>
    {% endfor %}
  </ul>
</nav>{% endblock %}
