{{ form_start(form, {'attr': {'class': 'form-group'}}) }}
<div class="alert alert-danger">
    {{ form_errors(form) }}
</div>
{{ form_widget(form, {'attr': {'class': 'form-control'}}) }}
    <button class="btn">{{ button_label|default('Créer') }}</button>
{{ form_end(form) }}
