{% extends 'base.html.twig' %}

{% block title %}Medias index{% endblock %}

{% block body %}
    <h1>Medias index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Images</th>
                <th>Videos</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for media in medias %}
            <tr>
                <td>{{ media.id }}</td>
                <td>{{ media.images }}</td>
                <td>{{ media.videos }}</td>
                <td>
                    <a href="{{ path('app_medias_show', {'id': media.id}) }}">show</a>
                    <a href="{{ path('app_medias_edit', {'id': media.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_medias_new') }}">Create new</a>
{% endblock %}
